*{
  font-family: 'Montserrat', sans-serif;
 
}


/* navbar */

.logo {
  width: 50px;
  transition: transform .7s ease-in-out;
}
.logo:hover{
  
  transform: rotate(360deg);
}

/* hero section */


.hero{
  height: 100%;
}
.container{
  width: 100%;
  margin: 0 auto;
}
.hero-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
  height: 100vh;
}

.hero-content {
  width: 50%;
  display: flex;
}
.hero-content-inner{

  width: 400px;
  margin: 0 auto;
  color: #323232
}
.hero-content-line-inner{
  font-weight: 900;
  font-size: 65px;
  
  display: flex;
}
.hero-content-line{
  margin: 0;
  height: 75px;
}

p{
  display:flex;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.btn-row{
  position: relative;

}

.btn-row::before{
  position: absolute;
  content: "";
  width: 56px;
  height: 1px;
  background-color: #dfdfdf;
  top: 50%;
  left: -68px;
}
button{
  background:none;
  border: none;
  font-size: 12px;
  padding:.2rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .7px;
  display: flex;
  align-items: center;
  position: relative;
}

button:focus{
  outline: none;
}

.social-icons{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e07341;
  height: 42px;
  width: 42px;
  border-radius: 100px;
  left:140px;
  color: white;
  
}

.hero-images{
  width: 50%;

}
.hero-image .headshot{
  width: 400px;
}

/* media queries for hero section */

@media only screen and (max-width: 600px) {
  .hero-content {
    width: 100%;
    position: relative;
    top: 20%;
  }
}
@media only screen and (max-width: 767px) {
  .hero-content {
    position: absolute;
    display:  block;
    width: 100%;
    margin-left: 0;
  }
.hero-image .headshot{
margin-top: 15rem;
margin-left: 50px;
width: 200px;
}
 
}