* {
  font-family: "Montserrat", sans-serif;
}

/* navbar */

.logo {
  width: 50px;
  transition: transform 0.7s ease-in-out;
}
.logo:hover {
  /* transform: rotate(360deg); */
}

li {
  list-style-type: none;
}
.navlinks {
  color: #323232;
  text-decoration: none;
  padding: 2rem;
  display: block;
}
.navlinks:hover {
  color: #5f51d5;
  font-weight: 300;
}
.navbar-brand {
  position: absolute;
  left: 50%;
  display: block;
  margin-left: -43% !important;
}

/* message from me */
.message{
  float: right;
  margin-right: 20px;
  margin-top: 110px;
display: flex;
}



/* hero section */
h1{
  line-height: 1.6em;
}
.bounce {
  display: flex;
  align-items: center;
  color: #323232;
  height: 100%;
}
.letter {
  animation: bounce 1.75s cubic-bezier(0.2, 2, 0.75, 1.5) infinite alternate;
  animation-delay: calc(-0.083333333s + (var(--index) * 0.0833333333s)); /* Calculate animation delay dynamically */
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  display: inline-block;
  margin-top: .5em;
  color: #5f51d5;
}

/* Define custom properties to set the index for each letter */
.letter:nth-of-type(1) { --index: 1; }
.letter:nth-of-type(2) { --index: 2; }
.letter:nth-of-type(3) { --index: 3; }
.letter:nth-of-type(4) { --index: 4; }
.letter:nth-of-type(5) { --index: 5; }
.letter:nth-of-type(6) { --index: 6; }
.letter:nth-of-type(7) { --index: 7; }
.letter:nth-of-type(8) { --index: 8; }
.letter:nth-of-type(9) { --index: 9; }


@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -1em, 0);
  }
}

.hero {
  height: 100%;
 
}
.container {
  width: 100%;
  margin: 0 auto;
}
.hero-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
  height: 100vh;
}

.hero-content {
  width: 50%;
  display: flex;
}
.hero-content-inner {
  width: 400px;
  margin: 0 auto;
  color: #323232;
}

.hero-content-line-inner {
  font-weight: 900;
  font-size: 65px;
  display: flex;
}

.hero-content-line {
  margin: 0;
  
}

p {
  display: flex;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.btn-row {
  position: relative;
}

.btn-row::before {
  position: absolute;
  content: "";
  width: 56px;
  height: 1px;
  background-color: #dfdfdf;
  top: 50%;
  left: -68px;
}
.about-button {
  color: #323232;
}
button {
  background: none;
  border: none;
  font-size: 12px;
  padding: 0.2rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.7px;
  display: flex;
  align-items: center;
  position: relative;
}

button:focus {
  outline: none;
}

.social-icons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5f51d5;
  height: 42px;
  width: 42px;
  border-radius: 100px;
  left: 140px;
  color: white;
}




.hero-images {
  width: 50%;
  animation: slideMe 2.8s ease-in;
}
.hero-image .headshot {
  width: 400px;
}

@keyframes slideMe {
  0% {
    transform: skewx(0deg) translateX(700px);
    opacity: 0;
  }
  60% {
    transform: translateX(0px);
    opacity: 0.2;
  }
  62% {
    transform: skewX(0deg) translateX(-30px);
    opacity: 0.3;
  }
  70% {
    transform: skew(5deg);
    opacity: 0.4;
  }
  80% {
    transform: skew(0deg) translate(0);
    opacity: 0.6;
  }
  90% {
    transform: skew(2deg);
    opacity: 0.7;
  }
  97% {
    transform: skew(0deg);
    opacity: 0.8;
  }

  100% {
    transform: skew(0deg);
    opacity: 0.9;
  }
}

.hero_scrollDown {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  bottom: 10px;
  width: 50px;
  right: 50px;
}
.hero_scrollDown p {
  font-size: 15px;
  transform: translateY(-70px) rotate(90deg);
  letter-spacing: 0.6rem;
  text-transform: uppercase;
}
.hero_scrollDown img {
  max-height: 45px;
  width: 16px;
  margin: 0 auto;
  object-fit: contain;
}

/* media queries for hero section */

@media only screen and (max-width: 600px) {
  
  .hero-content{
    width: 100%;
  }
  .hero-content-inner {
    width: 100%;
    margin: 0 auto;
    color: #323232;
  }
.subtitle-hero{
  margin-top: 70px;
}
  
  .hero-content-line-inner {
    font-weight: 400;
    font-size: 45px;
    display: flex;
  }
  
  .hero-content-line {
    height: 55px;
  }
  
  p {
    
    display: flex;
    font-size: 20px;
    line-height: 27px;
    font-weight: 300;
  }
  .hero-images {
    width: 50%;
    animation: slideMe 2.8s ease-in;
  }
  .hero-image .headshot {
    width: 200px;
    margin-right: 30px;
  }



.hero_scrollDown {
  
  gap: .2rem;
  right: 0px;
}
.hero_scrollDown p {
  font-size: 12px;
  letter-spacing: 0.5rem;
 
}
.hero_scrollDown img {
  max-height: 35px;
  width: 15px;
}
.message{
  float: right;
  margin-top: 140px;
  display: none;
  
}





  }
 

@media only screen and (max-width: 600px){
  

}

@media only screen and (max-width: 768px) {
  
}

  @media only screen and (max-width: 992px){

  }

  @media only screen and (max-width: 1280px){

  }
  


/* footer section */
.footer {
  padding-top: 4rem;
  background-color: #cecdcd;
  color: black;
  display: flex;
  gap: 2rem;
  padding-bottom: 3rem;
  width: 100%;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 2rem;
  text-align: center;
}

.li-footer {
  list-style-type: none;
}
.li-footer a {
  margin-bottom: 1rem;
  font-size: 12px;
  justify-content: center;
  text-align: center;
  color: black;
  text-decoration: none;
  margin-left: -25px;
}

.li-footer a:hover {
  color: rgb(117, 116, 116);
  font-size: 13px;
}

.footer_col1 {
  flex: 2;
}
.footer_col2,
.footer_col3,
.footer_col4 {
  flex: 1;
  text-align: center;
}
.footer_col1_title {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.footer-desc {
  font-size: 15px;
  margin-left: 1rem;
}

.copyright .container p {
  padding: 0;
  font-size: 14px;
  margin-top: 1rem;
  text-align: left;
}

/* media queries for footer */

@media only screen and (max-width: 480px){
 

}


@media only screen and (max-width: 768px) {
  .footer {
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 130%;
    flex-direction: column;
    gap: 0rem;
    margin-left: -50px;
  }

  .footer-heading {
    font-size: 18px;
    margin-bottom: 0rem;
    font-weight: bold;
    padding-bottom: 1px;
  }
  .footer_col1_title {
    display: none;
  }
  .footer-desc {
    display: none;
  }

  .copyright .container p {
    padding: 0;
    font-size: 11px;
    margin-top: 0rem;
    text-align: left;
  }
}

/* gallery */

.gallery{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
}

.gallery .pics{
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 8px;
}
.gallery .pics:hover{
  filter: opacity(.8);
}

@media only screen and (max-width: 991px) {
  .gallery{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
   
  }
}

@media only screen and (max-width: 480px){
  .gallery{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;

  }
}

/* gallery model */
.model{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  transition:opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}
.model.open{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img{
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model.open svg{
  position: relative;
  right: 50px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  cursor: pointer;
}